*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
    color: #fff;
    justify-content: center;
    overflow: hidden;
}

#main{
    background-color: rgb(126, 126, 126);
    width: 100%;
    height: 45%;
    margin-top: 150px;
}
#main>table{
    width: 95%;
    border: 1px solid white;
    height: 22%; 
    margin-left: 2.5%;
}

.stm{
    width: 600px;
    height: 32px;
    position: relative;
    top: 0px;
    left: 500px;
    /* background-color: aliceblue; */
}

.ids{
    background-color: rgb(165, 165, 165);
    border-collapse: collapse;
    /* border: 3px solid red; */
}

.subids{
    background-color: rgb(138, 138, 138);
}

.com{
    background-color: #6b6b6b;
    text-align: center;
}